@charset "UTF-8";
@keyframes fade-in {
  from {
    opacity: 0.25;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.text-accent-color {
  color: #00296b;
}

.bg-accent-color {
  background: #00296b;
}

.text-primary-color {
  color: #00ccff;
}

.bg-primary-color {
  background: #00ccff;
}

.text-gradient {
  background: #00296b;
  background: linear-gradient(45deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
  background: -webkit-linear-gradient(45deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

body {
  position: relative;
  background-color: #f5f5f5;
  color: black;
}

.wrapper {
  width: min(100%, 50rem);
  margin-inline: auto;
  position: relative;
  z-index: 3;
  background: rgba(245, 245, 245, 0.75);
}

.hidden {
  display: none;
}

.blur {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.sidebar * > a:hover {
  background: linear-gradient(45deg, rgba(9, 9, 121, 0.25) 0%, rgba(0, 212, 255, 0.25) 98%);
  background: -webkit-linear-gradient(45deg, rgba(9, 9, 121, 0.25) 0%, rgba(0, 212, 255, 0.25) 98%);
}
.sidebar * > a:hover > * {
  opacity: 1;
}
.sidebar i {
  opacity: 0.5;
  transition: 0.33s;
}

.bi {
  vertical-align: 0.125em;
  width: 1em;
  height: 1em;
}

.custom-navbar {
  background: rgba(245, 245, 245, 0.7);
  transition: 0.25s ease-out;
}

.nav-shadow {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.nav-hide {
  transition: 0.25s;
  transform: translateY(-100%);
}

.line-heading {
  display: flex;
  align-items: center;
}
.line-heading::after {
  content: "";
  display: block;
  position: relative;
  opacity: 0.5;
  margin-left: 20px;
  top: 4px;
  height: 1px;
  flex-grow: 1;
  max-width: 250px;
  border-radius: 3px;
  background: #00296b;
  background: linear-gradient(45deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
  background: -webkit-linear-gradient(45deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
}

.tab-list-body {
  max-width: 500px;
  position: relative;
}
.tab-list-body:not(.hidden) {
  animation: fade-in 0.2s ease-in-out forwards;
}
.tab-list-body li {
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}
.tab-list-body li::marker {
  content: "»";
  color: #00296b;
}

.tab-list-button {
  all: unset;
  padding: 0.5rem 1rem;
  border-left: 2px solid rgba(0, 41, 107, 0.8);
  transition: 0.25s;
  opacity: 0.6;
  white-space: nowrap;
  min-width: 140px;
  font-weight: 600;
}
.tab-list-button.tab-visible, .tab-list-button:hover {
  border-left-color: #00296b;
  opacity: 1;
}
.tab-list-button:hover {
  background: rgba(0, 41, 107, 0.1);
}

@media (max-width: 768px) {
  .tab-list-button {
    border-left: none;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(0, 41, 107, 0.8);
  }
  .tab-list-button:hover {
    border-bottom-color: #00296b;
  }
}
@media (max-width: 576px) {
  .tab-list-options {
    overflow-x: scroll;
    max-width: 280px;
  }
  .tab-list-options::-webkit-scrollbar {
    height: 10px;
  }
  .tab-list-options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 41, 107, 0.1);
  }
  .tab-list-options::-webkit-scrollbar-track {
    box-shadow: 0px -1px 10px 2px rgba(0, 41, 107, 0.1) inset;
  }
}
.project-card {
  display: flex;
  max-width: 650px;
  transition: 0.2s ease-in-out;
}
.project-card img {
  max-width: 200px;
  max-height: 100px;
}
.project-card:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: rgba(148, 163, 184, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.project-card:hover .project-header {
  color: #00296b;
}

.project-header {
  transition: 0.2s;
}

.project-badge {
  display: inline-block;
  border-radius: 5rem;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
  line-height: 1.25rem;
  font-size: 12px;
  font-weight: 600;
  background: rgba(0, 41, 107, 0.1);
  color: #00296b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.projects {
  display: flex;
  position: relative;
}
.projects::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: clamp(-1rem, -5%, -3rem);
  height: 100%;
  width: 2px;
  border-radius: 4px;
  background: #00296b;
  background: linear-gradient(315deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
  background: -webkit-linear-gradient(315deg, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 98%);
}
.projects:has(.project-card:hover) .project-card:not(.project-card:hover) {
  opacity: 0.6;
}

.header-img {
  max-width: 200px;
}

.blobz-container {
  position: absolute;
  overflow: hidden;
  padding: 5rem;
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(5, 1fr);
  grid-template-areas: "a1 b1 c1 d1 e1" "a2 b2 c2 d2 e2" "a3 b3 c3 d3 e3" "a4 b4 c4 d4 e4" "a5 b5 c5 d5 e5";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  place-items: center;
}

.blobz.accent {
  fill: #00296b;
}

.blobz.primary {
  fill: #00ccff;
}

.blobz.secondary {
  fill: #090d11;
}

.blobz.sm {
  width: 5rem;
}

.blobz.md {
  width: 10rem;
}

.blobz.lg {
  width: 15rem;
}

.blobz:nth-child(1) {
  --amount: 7;
  --time: 31s;
  grid-area: e1;
}

.blobz:nth-child(2) {
  --amount: 3;
  --time: 20s;
  grid-area: a2;
}

.blobz:nth-child(3) {
  --amount: 8;
  --time: 37s;
  grid-area: c3;
}

.blobz:nth-child(4) {
  --amount: 5;
  --time: 11s;
  grid-area: b4;
}

.blobz:nth-child(5) {
  --amount: 1;
  --time: 24s;
  grid-area: e5;
}

.blobz:nth-child(6) {
  --amount: 6;
  --time: 13s;
  grid-area: a5;
}/*# sourceMappingURL=main.css.map */