:root {

    --navbar-height: 12vh;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-dark: #161A1D;
    --font-color-unfocus: #5C5C5C;
    --font-color-dark: #3D3D3D;
    --font-color-light: #F5F5F5;
    --accent-color: #000;
    --header-color: ##fbf9f7;
    --background-color: #F5F5F5;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

.container {
    width: 100%;
    font-family: var(--font);
    color: var(--font-color-dark);
    display: grid;
    grid-template: 99vh 3fr 1fr 200px / .2fr 1fr .2fr;
    gap: 10px;
    
}

.header-container {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: var(--header-color);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.08);
}

.content {
    border: 1px solid black;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.navbar {
    z-index: 1;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
}

.navbar {
    font-family: var(--font);
    position:sticky;
    align-self: start;   
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 100;
    background: rgba(255, 255, 255, 0.95);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.15rem;
    gap: 3rem;

}

a, button {
    text-decoration: none;
    color: var(--font-color-unfocus);

}

a:hover, button:hover {
    color: var(--font-color-dark);
}

.content div {
    border: 1px solid black;
    height: 300px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    gap: 1.5em;
    padding-left: 5rem;
    width: 500px;
    height: 75vh;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    user-select: none;
}

.footer {
    background-color: var(--color-dark);
    color: var(--font-color-light);
}


.contact-button {
    all:unset;
    color: var(--font-color-unfocus);
    border:2px solid var(--accent-color);
    border-radius: 10rem;
    padding: 1rem 2rem;
    transition-duration: 0.3s;
}

.contact-button:hover {
    background: var(--accent-color);
    color: var(--font-color-light);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}

