:root {
    --dark_grey: #404040;
    --font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.header {
    font-family: var(--font);
    max-width: 70%;
    color: var(--dark_grey);
    margin: 0 auto;
}

.about-dropdown, .project-dropdown {
    color:aliceblue;
}

.about-button:hover .about-dropdown {
    color: red;
}
.about-text {
    visibility: hidden;
}
