/*===================================================

table of contents

1. global styles

2. media styles

3. navigation bar styles

4. header styles

5. about me styles

6. goals styles

7. skills styles

8. experience styles

9. footer styles

===================================================*/

/*===================
1. global styles
===================*/
:root {
    --navbar-height: calc(5rem + 2vh);
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-dark: #161A1D;
    --font-color-unfocus: #666666;
    --font-color-dark: #333333;
    --font-color-light: #F5F5F5;
    --accent-color: #0B090A;
    --header-color: #fbf9f7;
    --background-color: #F9F9F9;
    --background-color-light: #FCFCFC;
    --header-font-size: calc(4rem + 0.3vh);
    --subheader-font-size: calc(2rem + 0.3vh);
    --body-font-size: calc(1rem + 0.3vw);
    --body-header-font-size: calc(1.5rem + 0.4vw);
    --nav-font-size: calc(1rem + 0.4vh);
    --logo-font-size: calc(1rem + 0.5vh);
    --content-header-font-size: calc(2rem + 0.5vw);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-light);
}

.body-font {
    font-size: var(--body-font-size);
}

.body-header-font {
    font-size: var(--body-header-font-size);
}

.content-header {
    font-size: var(--content-header-font-size);
    color: var(--color-dark);
}

/* creates the grid for the whole website */
.container {
    position: relative;
    width: 100%;
    font-family: var(--font);
    color: var(--font-color-dark);
    display: grid;
    grid-template: 99vh 3fr 1fr 80vh / .1fr 1fr .1fr;
    gap: 10px;
}

/*======================================
2. media styles
======================================*/
@media (max-width: 1399px) {

    .about-intro,
    .about-paragraph2,
    .about-me-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-bottom: 3rem;
    }

    .about-me-image {
        margin-top: 3rem;
    }
}

@media (min-width: 1400px) {
    .about-intro {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: 0.9fr 1.1fr;
        gap: 5rem;
        margin: 2rem 0;
    }
}

@media (max-width:999px) {
    .header-container {
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .header-container div {
        margin-top: 25px;
    }

    .header-content img {
        width: 100%;
        max-width: 40%;
    }

    .navbar {
        font-family: var(--font);
        font-size: var(--nav-font-size);
        position: sticky;
        align-self: start;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--navbar-height);
        padding-left: 5rem;
        padding-right: 5rem;
        z-index: 100;
        background: rgba(255, 255, 255, 0.95);
    }

    .nav-burger button {
        all: unset;
        width: 30px;
        height: 35px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        padding: 5px;
    }

    .nav-links {
        display: none;
    }

    .nav-burger button:focus-within .nav-links {
        background: black;
        display: flex;
    }

    .nav-burger hr {
        border: 2px solid var(--font-color-unfocus);
        border-radius: 10px;
    }

    .logo {
        user-select: none;
        font-size: var(--logo-font-size);
    }

    .slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--background-color);
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(200px, 1fr));
        gap: 1rem;
    }

}

@media (min-width:1000px) {
    .header-content {
        position: absolute;
        display: grid;
        width: 100%;
        grid-template: 47vh 52vh/ 1fr 1fr;
    }

    .header-content-title {
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
        position: relative;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }


    .header-content-subtitle {
        display: flex;
        position: relative;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .header-content-headshot {
        display: flex;
        padding-bottom: 0;
        position: relative;
        grid-row: 1 / span 2;
        grid-column: 2 / span 3;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .header-hover {
        all: unset;
        padding: .03rem;
        z-index: -2;
        background-image: linear-gradient(to right, transparent 50%, #0B090A0F 50%);
        background-size: 200%;
        transition: background-position 0.5s ease-in-out;
    }

    .header-content-title:hover .header-hover {
        background-position: -100%;
    }

    .header-content img {
        min-width: 200px;
        max-width: 90%;
        max-height: 90%;
    }

    .header-content div {
        padding: 10px 0 0 5rem;
    }

    /*                                                   */
    .navbar {
        font-family: var(--font);
        position: sticky;
        align-self: start;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--navbar-height);
        padding-left: 5rem;
        padding-right: 5rem;
        z-index: 100;
        background: rgba(255, 255, 255, 0.95);
    }

    .nav-burger {
        display: none;
    }

    .logo {
        user-select: none;
        font-size: var(--logo-font-size);
    }


    .slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--background-color);
    }

    .skills {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        gap: 3rem;
    }
}

/*======================================
3. navigation bar styles
======================================*/
.navbar {
    z-index: 1;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.nav-links ul {
    display: flex;
    align-items: center;
    margin-top: 5px;
    list-style: none;
    font-size: var(--nav-font-size);
    gap: 5rem;
}

.navbar a,
.navbar button {
    color: var(--accent-color);
    text-decoration: none;
    opacity: 0.6;
    transition-duration: 0.5s;
}

.navbar a:hover,
.navbar button:hover {
    opacity: 1;
}

.navitem::after {
    content: '';
    display: flex;
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    background: var(--accent-color);

}

.navitem:hover::after {
    transform: scaleX(.5);
    transform-origin: bottom right;
    transition: transform .3s ease-out;   
}

.navitem:active::after {
    transform: scaleX(1);
}

.contact-button {
    all: unset;
    color: var(--font-color-unfocus);
    border: 2px solid var(--accent-color);
    border-radius: 10rem;
    padding: 1rem 2rem;
    transition-duration: 0.5s;
}

.contact-button:hover {
    background: var(--accent-color);
    color: var(--font-color-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*======================================
4. header styles
======================================*/

.header-container {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background: var(--header-color);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.08);
}

.header-content h1 {
    font-size: var(--header-font-size);
    font-weight: bold;
}

.header-content h4 {
    font-size: var(--subheader-font-size);
    font-weight: lighter;
}


/*======================================
5. about me styles
======================================*/
.about-background {
    position: relative;
    margin: -100px;
    background: black;
}

.content-container {
    position: relative;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    margin-top: 50px;
    width: 100%;
}

.content {
    color: var(--font-color-dark);
}

.content>div {
    /*outline: 1px solid black;*/
    padding: 15vh 0 0 0;
}

.about-container {
    line-height: 2rem;
    font-weight: lighter;
    text-align: justify;
}

.about-intro img {
    max-width: 90%;
}

/*======================================
6. goals styles
======================================*/
.goals-container>h1 {
    padding: 3rem;
    text-align: center;
}

.goals-slideshow {
    position: relative;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.goals-slideshow-content {
    background: var(--background-color);
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slideshow {
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.75s ease-in-out;
}


.slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: var(--subheader-font-size);
    font-weight: 900;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.3s;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.slideshow-button:hover {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.slideshow-button-left {
    left: -50px;
}

.slideshow-button-right {
    right: -50px;
}

.slideshow-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.slide-indicator {
    border-radius: 50%;
    background: transparent;
    width: 15px;
    height: 15px;
    color: var(--accent-color);
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 0 15px;
}

.not-current-slide {
    opacity: 0.3;
    border: 1px solid var(--accent-color);
    transition-duration: 0.3s;
}

.not-current-slide:hover {
    background: var(--accent-color);
    opacity: .5;
}

.slide-indicator.current-slide {
    background: var(--accent-color);
}

.is-hidden {
    display: none;
}

.slideshow-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    align-items: center;
    padding: 3rem 2.5rem;
    text-align: center;
}

.goals-icon {
    min-width: 10%;
    width: 20%;
    opacity: 0.75;
}

.goals-date {
    margin: 2rem 0;
}

/*======================================
7. skills styles
======================================*/
.skills-icon {
    max-width: 20%;
}

.skills>div {
    background-color: var(--background-color);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
}

.skills-content button img,
.skills-content button h3 {
    margin: 2rem 0 0 0;
}

.skills-description {
    margin-top: 2rem;
}

.skills-header {
    text-align: center;
    padding: 3rem;
}

.skills-content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.skills>div:hover .skills-arrow {
    opacity: 1;
}

.skills-content {
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.skills-content:focus-within {
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.skills-content-front,
.skills-content-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.skills-content-back {
    position: absolute;
    transform: rotateY(180deg);
}

.skills-arrow {
    max-width: 10%;
    opacity: 0.5;
    transition-duration: 0.5s;
}


/*======================================
8. experience styles
======================================*/
.experience-cards-container {
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 4rem;
    padding: 4rem 0;
}

.experience-cards {
    display:grid;
    grid-template-columns: 1fr 3fr;
    height: 20vh;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.experience-cards-date,
.experience-cards-content {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    
}

.experience-cards-date {
    align-items: center !important;
    background-color: var(--accent-color);
    color: var(--font-color-light);
    border-radius: .5rem 0 0 .5rem;
}

.experience-cards-content {
    gap: .5rem;
    background: var(--background-color);
}

.experience-title {
    color: var(--font-color-light) !important;
}
/*======================================
9. footer styles
======================================*/
.footer-container {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    margin-top: 50px;
    color: var(--font-color-light);
    font-family: var(--font);
}

.footer-content {
    background-color: var(--accent-color);
    font-weight: bold;
    position: absolute;
    display: grid;
    width: 100%;
    grid-template: 25vh 15vh 15vh 10vh 5vh / 5rem 1fr 5rem;
    gap: 2.5rem;
    padding: 2.5rem 0;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
}

.footer-text {
    grid-row: 1;
    grid-column: 2;
}

.footer-button {
    grid-row: 2;
    grid-column: 2;
}

.footer-logo {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 80%;
    font-size: var(--nav-font-size);
}

.footer-links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    grid-row: 4;
    grid-column: 2;
}

.footer-links img {
    width: 78px;
    height: 78px;
    transition-duration: 0.5s;
}

.footer-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
}

.footer-links img:hover {
    width: 110px;
    height: 110px;
}

.footer-message {
    font-weight: lighter;
    text-align: center;
    color: var(--font-color-unfocus);
    grid-row: 5;
    grid-column: 2;
    line-height: 1.75rem;
}

.footer-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    line-height: 2rem;
}

.contact-button-light {
    all: unset;
    color: var(--font-color-light);
    border: 2px solid var(--font-color-light);
    border-radius: 10rem;
    padding: 1.5rem 3rem;
    transition-duration: 0.5s;
    font-size: 1.5rem;
}

.contact-button-light:hover {
    background: var(--font-color-light);
    color: var(--font-color-dark);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.logo-light a {
    display: flex;
    justify-content: center;
    transition-duration: .5s;
    text-decoration: none;
    user-select: none;
    color: var(--font-color-light);
    opacity: .5;
    padding: 2rem;
    max-width: 100%;
}

.logo-light a:hover {
    opacity: 1;
}

.footer-logo hr {
    border: 3px solid var(--background-color);
    border-radius: 3px;
    width: 100%;
}

.footer-message-link {
    text-decoration: none;
    color: var(--font-color-unfocus);
    transition-duration: 0.5s;
}

.footer-message-link:hover {
    text-decoration: none;
    color: var(--font-color-light);
}