:root {

    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-color-dark: #3D3D3D; 
    --font-color-light: #ffffff;
    --header-color: #FBF3EE;
    --background-color: #F6F6F6;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
}

.container {
    width: 100%;
    height: 200vh;
    overflow: auto;
    font-family: var(--font);
    color: var(--font-color-dark);
    display: grid;
    grid-template:  100vh 3fr 1fr 200px / .2fr 1fr .2fr;  
    gap: 10px
    
}

.container div {
    padding: 20px;
}

.header-container {
    display:none;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: var(--header-color);   
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.08);
    
}

.content {
    border: 1px solid black;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.navbar {
    z-index: 1;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
}
/* END OF LAYOUT */


/* START OF HEADER */
















































/* END OF HEADER */
/* START OF NAVIGATION */ 
.navbar {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12vh;
    padding-left: 7rem;
    padding-right: 5rem;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.15rem;
}

.nav-links a {
    margin-left: 50px;
}



/* END OF NAVIGATION */
