@use "../abstracts/variables" as a;

.custom-navbar {
  background: rgba(a.$background-color,0.7);
  transition: 0.25s ease-out;
}

.nav-shadow {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.nav-hide {
  transition: 0.25s;
  transform: translateY(-100%);
}
