@use "../abstracts/variables" as a;
.sidebar {
    * > a {
        &:hover {
            background: linear-gradient(45deg, hsla(344, 94%, 39%, .25) 0%, hsla(28, 87%, 62%, .25) 100%);
            background: -moz-linear-gradient(45deg, hsla(344, 94%, 39%, .25) 0%, hsla(28, 87%, 62%, .25) 100%);
            background: -webkit-linear-gradient(45deg, hsla(344, 94%, 39%, .25) 0%, hsla(28, 87%, 62%, .25) 100%);
        }
        &:hover > * {
            opacity:1;
        }
    }
    i {
        opacity: .5;
       transition: .33s;
    }
}

