@use "../abstracts/variables" as a;
.tab-list-body {
  max-width: 500px;
  position: relative;
  &:not(.hidden) {
    animation: fade-in 0.2s ease-in-out forwards;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
    }
    li::before {
      content: "»";
      position: absolute;
      left: 0px;
      color: rgba(a.$accent-color, 1);
    }
  }
}

.tab-list-button {
  all: unset;
  padding: 0.5rem 1rem;
  border-left: 2px solid rgba(a.$accent-color, 0.8);
  transition: 0.25s;
  opacity: 0.6;
  white-space: nowrap;
  min-width: 140px;
  font-weight: 600;
  &.tab-visible,
  &:hover {
    border-left-color: a.$accent-color;
    opacity: 1;
  }
  &:hover {
    background: rgba(a.$accent-color, 0.1);
  }
}

@media (max-width: a.$md) {
  .tab-list-options {
    overflow-x: scroll;
    max-width: 280px;
    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(a.$accent-color, 0.1);
    }
    &::-webkit-scrollbar-track {
      box-shadow: 0px -1px 10px 2px rgba(a.$accent-color, 0.1) inset;
    }
  }
  .tab-list-button {
    border-left: none;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(a.$accent-color, 0.8);
    &:hover {
      border-bottom-color: a.$accent-color;
    }
  }
}
